/*--------------------- 420px ---------------------*/
/*--------------------- 420px ---------------------*/
@media (max-width: 420px) {

    /*---- Header ----**---- Header ----*/
    .conteiner {
        padding: 0 10px;
    }

    .header {
        background-image: none;
        height: 0px;
    }

    .header-top nav {
        width: 100%;
        padding: 0 20px;
        height: 90px;
    }

    .header-top-logo {
        font-size: 35px;
    }

    .header-top-links {
        display: none;
    }

    .btn-nav {
        display: none;
    }

    .header-main {
        display: none;
    }

    .header-buttom {
        display: none;
    }



    /*---- Main ----**---- Main ----*/
    .slider-company {
        display: none;
    }

    .filter-news {
        padding-top: 70px;
    }

    .filter-general {
        justify-content: start;
        font-size: 18px;
    }

    .filter-general span:last-child {
        margin-left: 50px;
    }

    .filter-categories {
        margin-top: 50px;
    }

    .filter-categories-title {
        font-size: 18px;
        margin: 10px 0px;
    }

    .filter-categories-card {
        margin: 10px 0px;
    }

    .categories-card {
        font-size: 12px;
        margin: 10px 0;
    }





    .news-block-card {
        margin-bottom: 50px;
    }

    .news-block-card-image img,
    .news-block-card-image {
        width: 150px;
    }

    .news-block-card-title {
        margin-left: 10px;
    }

    .news-block-card-title-top h2 {
        width: 100%;
        font-size: 10px;
    }

    .news-date {
        display: none;
    }

    .news-block-card-title-bottom-wraper .btn-opacity {
        display: none;
    }

    .news-date-mobile {
        display: block;
        font-size: 10px;
    }

    .teg-wraper {
        padding-bottom: 5px;
    }

    .news-block-card-title-bottom-wraper .teg {
        font-size: 7px;
        border-radius: 25px;
        padding: 5px 5px;
    }



    .articles {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .articles-card {
        opacity: 100%;
        width: 170px;
        height: 140px;
        margin-bottom: 20px;
    }

    .articles-card-bottom-title-top .btn-small {
        display: none;
    }

    .articles-card-image p {
        width: 75px;
        height: 20px;
        font-size: 10px;
    }

    .articles-card-bottom img {
        width: 50px;
    }

    .articles-card-bottom-title-top h2 {
        font-size: 12px;
    }

    .articles-card-bottom-title-top-bottom {
        display: flex;
        position: absolute;
        bottom: 0px;
        font-size: 7px;
        color: rgb(172, 172, 172);
    }

}



/*--------------------- 400px ---------------------*/
/*--------------------- 400px ---------------------*/
@media (max-width: 400px) {

    .news-block-card-title-bottom-wraper .teg {
        font-size: 5px;
        border-radius: 25px;
        padding: 5px 5px;
    }

    .news-date-mobile {
        display: block;
        font-size: 9px;
    }

    .articles-card-image p {
        width: 75px;
        height: 20px;
        font-size: 10px;
    }

    .news-block-card-image img,
    .news-block-card-image {
        width: 120px;
    }

    .articles-card-bottom img {
        width: 45px;
    }

    .articles-card-bottom-title-top h2 {
        font-size: 12px;
    }

    .articles-card {
        opacity: 100%;
        width: 150px;
        height: 130px;
        margin-bottom: 20px;
    }

    .articles-card-bottom-title{
        padding-left: 5px;
    }
}